@model FilmoweLove.Models.NewMovies

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NewMovies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nazwa_filmu" class="control-label"></label>
                <input asp-for="Nazwa_filmu" class="form-control" />
                <span asp-validation-for="Nazwa_filmu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dlugosc_filmu" class="control-label"></label>
                <input asp-for="Dlugosc_filmu" class="form-control" />
                <span asp-validation-for="Dlugosc_filmu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_wydania" class="control-label"></label>
                <input asp-for="Data_wydania" class="form-control" />
                <span asp-validation-for="Data_wydania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="okladka" class="control-label"></label>
                <input asp-for="okladka" class="form-control" />
                <span asp-validation-for="okladka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="info" class="control-label"></label>
                <input asp-for="info" class="form-control" />
                <span asp-validation-for="info" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="srce" class="control-label"></label>
                <input asp-for="srce" class="form-control" />
                <span asp-validation-for="srce" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




