

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "FilmoweLove";
}

<div class="jumbotron">
    <h1 class="display-3">Witaj w Filmowelove</h1>

</div>


<div class="gallery autoplay items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item" style="height:100%;">

        <a asp-area="" asp-controller="NewMovies" asp-action="Index">
            <img src="https://film.org.pl/wp-content/uploads/2019/01/najlepsze-filmy-2018-1.jpg" style="width:100%;" />
        </a>
    </figure>

    <figure class="item" style="height:100%;">
        <a asp-area="" asp-controller="NewSeries" asp-action="Index">   <img src="http://filing.pl/wp-content/uploads/2015/05/filing_images_e92bc7e4f7fc.jpg" style="width:100%; height:92%;"/>  </a>


    </figure>

    <figure class="item" style="height:100%;">
        @if (SignInManager.IsSignedIn(User))
        {
            <p>zalogowany</p>
        }

        else
        {
    <div style="background-color:red; width:40%; height:100px; float:left;">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Zarejestruj</a>
    </div>

    <div style="background-color:yellow; width:40%; height:100px; float:left;">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
    </div>


        }
    </figure>

    <div class="controls" style="background-color:#002B36!important;">
        <a href="#item-1" class="control-button">•</a>
        <a href="#item-2" class="control-button">•</a>
        <a href="#item-3" class="control-button">•</a>
    </div>
</div> 